<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Základní informace o aplikaci -->
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Den D</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Den D</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	
	<!-- Podporované orientace iPhone -->
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	
	<!-- Podporované orientace iPad -->
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	
	<!-- Nastavení UI -->
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	
	<!-- Push notifikace -->
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	
	<!-- Tracking pro analytiku (iOS 14+) -->
	<key>NSUserTrackingUsageDescription</key>
	<string>Pomáhá nám zlepšovat aplikaci a poskytovat vám lepší služby pro plánování vaší svatby.</string>
	
	<!-- Povolení HTTPS komunikace -->
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	
	<!-- Lokalizace -->
	<key>CFBundleLocalizations</key>
	<array>
		<string>cs</string>
		<string>en</string>
	</array>
	
	<!-- URL TYPES - pro Google Sign In a Apple Sign In -->
	<key>CFBundleURLTypes</key>
	<array>
		<!-- Google Sign In - OPRAVENO: Správný REVERSED_CLIENT_ID z GoogleService-Info.plist -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.163734675450-ntn1h1r49r3og144u29ncumgrgpksk1u</string>
			</array>
		</dict>
		<!-- Bundle ID scheme -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>bundle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cz.filipstastny.dend</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
